schemas/Shared_Complex_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Instituto Stela 2014-->
<!--Author: Daniel Felipe Schröder-->
<!--Manual de Orientação do eSocial - Versão 1.1 - 06 de Janeiro de 2014-->
<!--ComplexTypes compartilhados pelos layouts do eSocial-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="Shared_Simple_Types.xsd"/>

    <xs:complexType name="TageIntegracao">
        <xs:sequence>
            <xs:element name="cnpjAgenteIntegracao" type="Tcnpj" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nomeRazao" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="descLogradouro" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrLogradouro" type="TnrLogradouro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bairro" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cep" type="Tcep" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codMunicipio" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="uf" type="Tuf" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Taso">
        <xs:sequence>
            <xs:element name="dtAso" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="medico" type="Tmedico" minOccurs="1" maxOccurs="1"/>
            <xs:element name="exame" type="Texame" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TcessaoTrab">
        <xs:sequence>
            <xs:element name="cnpjCedente" type="Tcnpj" minOccurs="1" maxOccurs="1"/>
            <xs:element name="matriculaCedente" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dtAdmissaoCedente" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="infoOnus" type="TinfoOnus" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tcontato">
        <xs:sequence>
            <xs:element name="fonePrincipal" type="Tfone" minOccurs="0" maxOccurs="1"/>
            <xs:element name="foneAlternativo" type="Tfone" minOccurs="0" maxOccurs="1"/>
            <xs:element name="emailPrincipal" type="Temail" minOccurs="0" maxOccurs="1"/>
            <xs:element name="emailAlternativo" type="Temail" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tcontrato">
        <xs:sequence>
            <xs:element name="tpRegimeTrab" type="TtpRegimeTrab" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tpRegimePrev" type="TtpRegimePrev" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tpRegimeJor" type="TtpRegimeJor" minOccurs="1" maxOccurs="1"/>
            <xs:element name="natAtividade" type="TnatAtividade" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codCateg" type="TcodCateg" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codFuncao" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="codCargo" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codCBO" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dataBase" type="TdataBase" minOccurs="1" maxOccurs="1"/>
            <xs:element name="remuneracao" type="Tremuneracao" minOccurs="1" maxOccurs="1"/>

            <xs:element name="duracao" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tpContrato" type="TtpContrato" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtTermino" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="trabTemporario" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="motivoContratacao" type="TmotivoContratacao" minOccurs="1" maxOccurs="1"/>

                        <xs:element name="ideTrabSubstituido" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="cpfTrabSubstituido" type="Tcpf" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="matricTrabSubstituido" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="localTrabalho" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tpInscricao" type="TtpInscricao" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="nrInscricao" type="TnrInscricao" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="codLotacao" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="descComplementar" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="horContratual" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="qtdHoras" type="xs:integer" minOccurs="1" maxOccurs="1"/>

                        <xs:element name="horario" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="dia" type="Tdia" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="codHorContratual" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="infoAtivDesemp" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="descAtividade" minOccurs="0" maxOccurs="50">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="descAtivDesemp" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="filiacaoSindical" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cnpjSindTrabalhador" type="Tcnpj" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="alvaraJudicial" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrProcJud" type="TnrProcesso" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tdependente">
        <xs:sequence>
            <xs:element name="tpDep" type="TtpDep" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nomeDep" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dtNascto" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cpfDep" type="Tcpf" minOccurs="0" maxOccurs="1"/>
            <xs:element name="depIRRF" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="depSF" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tdocumentos">
        <xs:sequence>
            <xs:element name="CTPS" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrCtps" type="TnrCtps" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="serieCtps" type="TserieCtps" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="ufCtps" type="Tuf" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RIC" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrRic" type="TnrRic" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="orgaoEmissor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtExpedicao" type="xs:date" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RG" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrRg" type="TnrRg" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="orgaoEmissor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtExpedicao" type="xs:date" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RNE" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrRne" type="TnrRne" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="orgaoEmissor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtExpedicao" type="xs:date" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OC" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrOc" type="TnrOc" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="orgaoEmissor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtExpedicao" type="xs:date" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtValidade" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CNH" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrCnh" type="TnrCnh" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="orgaoEmissor" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtExpedicao" type="xs:date" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="dtValidade" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Temitente">
        <xs:sequence>
            <xs:element name="nomeEmitente" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrOc" type="TnrOc" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ufOC" type="Tuf" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tendereco">
        <xs:sequence>
            <xs:element name="tpLogradouro" type="TtpLogradouro" minOccurs="1" maxOccurs="1"/>
            <xs:element name="descLogradouro" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrLogradouro" type="TnrLogradouro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="complemento" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bairro" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cep" type="Tcep" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codMunicipio" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            <xs:element name="uf" type="Tuf" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TenderecoCompleto">
        <xs:choice>
            <xs:element name="brasil" type="Tendereco" minOccurs="0" maxOccurs="1"/>

            <xs:element name="exterior" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="paisResidencia" type="Tpais" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="descLogradouro" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="nrLogradouro" type="TnrLogradouro" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="complemento" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="bairro" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nomeCidade" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="codPostal" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="Texame">
        <xs:sequence>
            <xs:element name="dtExame" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="descExame" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TFGTS">
        <xs:sequence>
            <xs:element name="optanteFGTS" type="ToptanteFGTS" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dtOpcaoFGTS" type="xs:date" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideEmpregador">
        <xs:sequence>
            <xs:element name="tpInscricao" type="TtpInscricaoRestrito" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrInscricao" type="TnrInscricaoEmpregador" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideEvento">
        <xs:sequence>
            <xs:element name="tpAmb" type="TtpAmb" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procEmi" type="TprocEmi" minOccurs="1" maxOccurs="1"/>
            <xs:element name="indSegmento" type="TindSegmento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="verProc" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideEventoPeriodico">
        <xs:sequence>
            <xs:element name="indRetificacao" type="TindRetificacao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrRecibo" type="TnrRecibo" minOccurs="0" maxOccurs="1"/>
            <xs:element name="indApuracao" type="TindApuracao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="perApuracao" type="TperApuracao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tpAmb" type="TtpAmb" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procEmi" type="TprocEmi" minOccurs="1" maxOccurs="1"/>
            <xs:element name="indSegmento" type="TindSegmento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="verProc" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideEventoRetificador">
        <xs:sequence>
            <xs:element name="indRetificacao" type="TindRetificacao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrRecibo" type="TnrRecibo" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tpAmb" type="TtpAmb" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procEmi" type="TprocEmi" minOccurs="1" maxOccurs="1"/>
            <xs:element name="indSegmento" type="TindSegmento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="verProc" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideFolhaPagto">
        <xs:sequence>
            <xs:element name="indApuracao" type="TindApuracao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="perApuracao" type="TperApuracao" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TidePeriodo">
        <xs:sequence>
            <xs:element name="iniValidade" type="TmesAno" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fimValidade" type="TmesAno" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideTrabalhador">
        <xs:sequence>
            <xs:element name="cpfTrab" type="Tcpf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nisTrab" type="Tnis" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TideVinculo">
        <xs:sequence>
            <xs:element name="cpfTrab" type="Tcpf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nisTrab" type="Tnis" minOccurs="1" maxOccurs="1"/>
            <xs:element name="matricula" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TinfoAgenteNocivo">
        <xs:sequence>
            <xs:element name="grauExp" type="TgrauExp" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TinfoDeficiencia">
        <xs:sequence>
            <xs:element name="defFisica" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="defVisual" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="defAuditiva" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="defMental" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="defIntelectual" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="reabilitado" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observacao" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TinstEnsino">
        <xs:sequence>
            <xs:element name="cnpjInstEnsino" type="Tcnpj" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nomeRazao" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="descLogradouro" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nrLogradouro" type="TnrLogradouro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bairro" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cep" type="Tcep" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codMunicipio" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="uf" type="Tuf" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TitemRemun">
        <xs:sequence>
            <xs:element name="codRubrica" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="qtdRubrica" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="vlrUnitario" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="vlrRubrica" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tmedico">
        <xs:sequence>
            <xs:element name="nomeMedico" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="foneContato" type="Tfone" minOccurs="0" maxOccurs="1"/>

            <xs:element name="crm" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nrCRM" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="ufCRM" type="Tuf" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tnascimento">
        <xs:sequence>
            <xs:element name="dtNascto" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="codMunicipio" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="uf" type="Tuf" minOccurs="0" maxOccurs="1"/>
            <xs:element name="paisNascto" type="Tpais" minOccurs="1" maxOccurs="1"/>
            <xs:element name="paisNacionalidade" type="Tpais" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nomeMae" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nomePai" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tremuneracao">
        <xs:sequence>
            <xs:element name="vlrSalFixo" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
            <xs:element name="unidSalFixo" type="TunidSalFixo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="descSalVariavel" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TsucessaoVinc">
        <xs:sequence>
            <xs:element name="cnpjEmpregadorAnterior" type="Tcnpj" minOccurs="1" maxOccurs="1"/>
            <xs:element name="matriculaAnterior" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dtInicioVinculo" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observacao" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TsupervisorEstagio">
        <xs:sequence>
            <xs:element name="cpfSupervisor" type="Tcpf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nomeSupervisor" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ttrabalhador">
        <xs:sequence>
            <xs:element name="cpfTrab" type="Tcpf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nisTrab" type="Tnis" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nomeTrab" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sexo" type="Tsexo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="racaCor" type="TracaCor" minOccurs="1" maxOccurs="1"/>
            <xs:element name="estadoCivil" type="TestadoCivil" minOccurs="1" maxOccurs="1"/>
            <xs:element name="grauInstrucao" type="TgrauInstrucao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nascimento" type="Tnascimento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="documentos" type="Tdocumentos" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endereco" type="TenderecoCompleto" minOccurs="1" maxOccurs="1"/>
            <xs:element name="trabEstrangeiro" type="TtrabEstrangeiro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="infoDeficiencia" type="TinfoDeficiencia" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dependente" type="Tdependente" minOccurs="0" maxOccurs="50"/>

            <xs:element name="aposentadoria" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trabAposentado" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="contato" type="Tcontato" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TtrabalhadorSemCpf">
        <xs:sequence>
            <xs:element name="nisTrab" type="Tnis" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nomeTrab" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sexo" type="Tsexo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="racaCor" type="TracaCor" minOccurs="1" maxOccurs="1"/>
            <xs:element name="estadoCivil" type="TestadoCivil" minOccurs="1" maxOccurs="1"/>
            <xs:element name="grauInstrucao" type="TgrauInstrucao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nascimento" type="Tnascimento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="documentos" type="Tdocumentos" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endereco" type="TenderecoCompleto" minOccurs="1" maxOccurs="1"/>
            <xs:element name="trabEstrangeiro" type="TtrabEstrangeiro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="infoDeficiencia" type="TinfoDeficiencia" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dependente" type="Tdependente" minOccurs="0" maxOccurs="50"/>

            <xs:element name="aposentadoria" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trabAposentado" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="contato" type="Tcontato" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TtrabalhadorSemVinculo">
        <xs:sequence>
            <xs:element name="cpfTrab" type="Tcpf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nisTrab" type="Tnis" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nomeTrab" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sexo" type="Tsexo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="racaCor" type="TracaCor" minOccurs="1" maxOccurs="1"/>
            <xs:element name="estadoCivil" type="TestadoCivil" minOccurs="1" maxOccurs="1"/>
            <xs:element name="grauInstrucao" type="TgrauInstrucao" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nascimento" type="Tnascimento" minOccurs="1" maxOccurs="1"/>
            <xs:element name="documentos" type="Tdocumentos" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endereco" type="TenderecoCompleto" minOccurs="1" maxOccurs="1"/>
            <xs:element name="trabEstrangeiro" type="TtrabEstrangeiro" minOccurs="0" maxOccurs="1"/>
            <xs:element name="infoDeficiencia" type="TinfoDeficiencia" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dependente" type="Tdependente" minOccurs="0" maxOccurs="50"/>
            <xs:element name="contato" type="Tcontato" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TtrabEstrangeiro">
        <xs:sequence>
            <xs:element name="dtChegada" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dtNaturalizacao" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="casadoBr" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filhosBr" type="TbooleanStr" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
