schemas/Shared_Simple_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Instituto Stela 2014-->
<!--Author: Daniel Felipe Schröder-->
<!--Manual de Orientação do eSocial - Versão 1.1 - 06 de Janeiro de 2014-->
<!--SimpleTypes compartilhados pelos layouts do eSocial-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:simpleType name="TbooleanNum">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TbooleanStr">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tcep">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TclassTrib">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="80"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tcnpj">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TcodTerceiros">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="64"/>
            <xs:enumeration value="67"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="99"/>
            <xs:enumeration value="115"/>
            <xs:enumeration value="128"/>
            <xs:enumeration value="131"/>
            <xs:enumeration value="256"/>
            <xs:enumeration value="259"/>
            <xs:enumeration value="512"/>
            <xs:enumeration value="1024"/>
            <xs:enumeration value="1091"/>
            <xs:enumeration value="2048"/>
            <xs:enumeration value="2115"/>
            <xs:enumeration value="3072"/>
            <xs:enumeration value="3139"/>
            <xs:enumeration value="4096"/>
            <xs:enumeration value="4099"/>
            <xs:enumeration value="4163"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tcpf">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Temail">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tfone">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{15}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tfpas">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="507"/>
            <xs:enumeration value="515"/>
            <xs:enumeration value="523"/>
            <xs:enumeration value="531"/>
            <xs:enumeration value="540"/>
            <xs:enumeration value="558"/>
            <xs:enumeration value="566"/>
            <xs:enumeration value="574"/>
            <xs:enumeration value="582"/>
            <xs:enumeration value="590"/>
            <xs:enumeration value="604"/>
            <xs:enumeration value="612"/>
            <xs:enumeration value="620"/>
            <xs:enumeration value="639"/>
            <xs:enumeration value="647"/>
            <xs:enumeration value="655"/>
            <xs:enumeration value="680"/>
            <xs:enumeration value="736"/>
            <xs:enumeration value="744"/>
            <xs:enumeration value="779"/>
            <xs:enumeration value="787"/>
            <xs:enumeration value="795"/>
            <xs:enumeration value="825"/>
            <xs:enumeration value="833"/>
            <xs:enumeration value="868"/>
            <xs:enumeration value="876"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ThoraMin">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="(([01][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TindAdmissao">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TindApurAliqFap">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TindCooperativa">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TindSituacaoEspecial">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TindSubstPatronalObra">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TinfoApurGrauRisco">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TmesAno">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="(01|02|03|04|05|06|07|08|09|10|11|12)(0-9){4}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Tnis">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrCnh">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrCtps">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrInscContratante">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{11}|[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrInscEstab">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrInscProprietario">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{11}|[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrInscricao">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrLogradouro">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrOc">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrProcesso">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{20}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrRg">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrRic">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TnrRne">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TsiglaMin">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="CNAS"/>
            <xs:enumeration value="MEC"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MDS"/>
            <xs:enumeration value="LEI"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpAdmissao">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpInscContratante">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpInscEstab">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TtpInscProprietario">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpInscricao">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpIntervalo">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpJornada">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpLogradouro">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="AER"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="AV"/>
            <xs:enumeration value="CPO"/>
            <xs:enumeration value="CH"/>
            <xs:enumeration value="COL"/>
            <xs:enumeration value="CON"/>
            <xs:enumeration value="CJ"/>
            <xs:enumeration value="DT"/>
            <xs:enumeration value="ESP"/>
            <xs:enumeration value="ETC"/>
            <xs:enumeration value="EST"/>
            <xs:enumeration value="FAV"/>
            <xs:enumeration value="FAZ"/>
            <xs:enumeration value="FRA"/>
            <xs:enumeration value="JD"/>
            <xs:enumeration value="LD"/>
            <xs:enumeration value="LG"/>
            <xs:enumeration value="LGA"/>
            <xs:enumeration value="LRG"/>
            <xs:enumeration value="LOT"/>
            <xs:enumeration value="MRO"/>
            <xs:enumeration value="NUC"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="PRQ"/>
            <xs:enumeration value="PSA"/>
            <xs:enumeration value="PAT"/>
            <xs:enumeration value="PC"/>
            <xs:enumeration value="Q"/>
            <xs:enumeration value="REC"/>
            <xs:enumeration value="RES"/>
            <xs:enumeration value="ROD"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="SIT"/>
            <xs:enumeration value="TV"/>
            <xs:enumeration value="TR"/>
            <xs:enumeration value="TRV"/>
            <xs:enumeration value="VLE"/>
            <xs:enumeration value="VER"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="VD"/>
            <xs:enumeration value="VLA"/>
            <xs:enumeration value="VL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpLotacao">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TtpProcesso">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="J"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Tuf">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="TO"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
